@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer utilities{
    body{
        @apply font-body
    }

    .span{
        @apply text-green
    }
    .gradient{
        @apply bg-gradient-to-r from-green to-blue-400
    }

    .gradient-reverse{
        @apply bg-gradient-to-l from-green to-blue-600
    }

    .gradient-blue{
        @apply bg-gradient-to-r from-blue-200 to-white
    }

    .gradient-black{
        @apply bg-gradient-to-t from-black/80 via-black/10 to-black/20
    }

    .header{
        @apply font-header font-semibold text-4xl md:text-5xl text-black leading-normal
    }

    .transition{
        @apply  transition-all ease-in-out
    }

    .text-gradient{
        @apply text-transparent bg-clip-text bg-gradient-to-r from-green to-blue-500
    }

    button{
        @apply font-header text-white border-none
    }
}

@layer base {
  :root {

        --radius: 0.5rem
    ;

        --sidebar-background: 0 0% 98%;

        --sidebar-foreground: 240 5.3% 26.1%;

        --sidebar-primary: 240 5.9% 10%;

        --sidebar-primary-foreground: 0 0% 98%;

        --sidebar-accent: 240 4.8% 95.9%;

        --sidebar-accent-foreground: 240 5.9% 10%;

        --sidebar-border: 220 13% 91%;

        --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {

        --sidebar-background: 240 5.9% 10%;

        --sidebar-foreground: 240 4.8% 95.9%;

        --sidebar-primary: 224.3 76.3% 48%;

        --sidebar-primary-foreground: 0 0% 100%;

        --sidebar-accent: 240 3.7% 15.9%;

        --sidebar-accent-foreground: 240 4.8% 95.9%;

        --sidebar-border: 240 3.7% 15.9%;

        --sidebar-ring: 217.2 91.2% 59.8%
    }
}